
.home-section {
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	height: 100vh;
 	text-align: center;
}

.home-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.home-title {
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home-subtitle {
  margin-top: 3rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 5rem;
  font-size: 2rem;
}

.home-button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.25rem;
  background-color: #2563eb; 
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
font-size: 2rem;
}

.home-button:hover {
  background-color: #1d4ed8; 
}
